* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px rgb(205, 190, 190);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(20deg, rgb(194, 139, 38), rgb(186, 186, 249));
}

.game {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid white;
  border-radius: 20px;
  width: 800px;
  height: 380px;
  padding: 30px;
  margin: 40px;
}

#comPlay,
#youPlay {
  height: 240px;
  width: 330px;
  margin-bottom: 20px;
}

.computer,
.you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

button {
  border: none;
  border-radius: 20px;
  background-color: rgb(241, 216, 221);
  font-size: 50px;
  padding: 10px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(207, 83, 103);
  color: white;
}

button:active {
  transform: translateY(3px);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
